*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: darkgray;
    font-size: 1.5rem;
    color: black;
    font-family: sans-serif,monospace;

}
#loing-box{
background-color: burlywood;
position: relative;
margin: 5% auto;
height: 75vh;
width: 40%;
background: darkolivegreen;
box-shadow: black;

}
.left-box{
    background-color: cornsilk;
    height: inherit;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}
.left-box .inp{
    display: flex;
    padding: 5px 10px;
    width: 75%;
    justify-content: space-between;
    margin-bottom: 5px;
}
.left-box h1{
    position: absolute;
    font-weight: 300;
    font-size: 3rem;
    left: 15%;
    top: 13%;

}
.left-box div{
    padding: 5px 10px;

}
.rightbox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: burlywood;

}
input[type="text"],input[type="password"],input[type="tel"]{
    display: block;
    box-sizing: border-box;
    line-height: 1.5rem;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid crimson;
    font-size: 15px;
    font-family: sans-serif, monospace;
    transition: 0.2s ease;

}
input[type="submit"]{
    position: absolute;
    bottom: 22%;
    right: 20%;
    width: 107px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}
a{
    cursor: pointer;
    color: rgb(55, 55, 221);
}
.parag{
    position: absolute;
    top: 6%;
    left: 65%;
}
button{
    padding: 5px 10px;
    border-radius: 13px;
    margin-bottom: 6px;
    font-size: 1rem;
    flex-wrap: nowrap;
}